* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
section {
	max-width: 1536px;
	height: 100vh;
	width: 100%;
	display: flex;
	align-content: center;
}
.box {
	width: 768px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
}
.form {
	display: flex;
	flex-direction: column;	

}
label {
	display: block;
	margin: 20px;
	text-align: left;
	font-size: 23px;
}
input {
	border-top: unset;
	border-right: unset;
	width: 470px;
	height: 40px;
	text-align: center;
	color: #C4C4C4;
	font-size: 20px;
}
p {
	margin-top: 10px;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.3px;
}
a {
	color: red;
}

section img {
	width: 768px;
	height: 100vh;
}
#logo {
	width: 200px;
	height: 170px;
	margin-left: 100px;
}
.icon {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}
.icon img {
	width: 55px;
	height: 55px;